RewriteEngine on

RewriteRule ^login$ login.php [L]
RewriteRule ^checkuser$ data/checklogin.php [L]
RewriteRule ^ceklogin$ data/ceklogin.php [L]
RewriteRule ^home$ pages/index.php [L]
RewriteRule ^group$ pages/groupuser.php [L]
RewriteRule ^addgroup$ pages/add/addgroup.php [L]
RewriteRule ^editgroup-([0-9]+)$ pages/edit/editgroup.php?id=$1 [L]
RewriteRule ^deletegroup-([0-9]+)$ data/simpangroup.php?id=$1&act=delete [L]
RewriteRule ^simpangroup$ data/simpangroup.php?act=simpan [L]
RewriteRule ^editgroup$ data/simpangroup.php?act=edit [L]
RewriteRule ^register$ pages/register.php [L]
RewriteRule ^addregister$ pages/add/addregister.php [L]
RewriteRule ^editregister-([0-9]+)$ pages/edit/editregister.php?id=$1 [L]
RewriteRule ^deleteregister-([0-9]+)$ data/simpanregister.php?id=$1&act=delete [L]
RewriteRule ^simpanregister$ data/simpanregister.php?act=simpan [L]
RewriteRule ^editregister$ data/simpanregister.php?act=edit1 [L]
RewriteRule ^alternatif$ pages/alternatif.php [L]
RewriteRule ^addalternatif$ pages/add/addalternatif.php [L]
RewriteRule ^editalternatif-([0-9]+)$ pages/edit/editalternatif.php?id=$1 [L]
RewriteRule ^deletealternatif-([0-9]+)$ data/simpanalternatif.php?id=$1&act=delete [L]
RewriteRule ^simpanalternatif$ data/simpanalternatif.php?act=simpan [L]
RewriteRule ^editalternatif$ data/simpanalternatif.php?act=edit [L]
RewriteRule ^kriteria$ pages/kriteria.php [L]
RewriteRule ^addkriteria$ pages/add/addkriteria.php [L]
RewriteRule ^editkriteria-([0-9]+)$ pages/edit/editkriteria.php?id=$1 [L]
RewriteRule ^deletekriteria-([0-9]+)$ data/simpankriteria.php?id=$1&act=delete [L]
RewriteRule ^simpankriteria$ data/simpankriteria.php?act=simpan [L]
RewriteRule ^editkriteria$ data/simpankriteria.php?act=edit [L]
RewriteRule ^subkriteria$ pages/subkriteria.php [L]
RewriteRule ^addsubkriteria$ pages/add/addsubkriteria.php [L]
RewriteRule ^editsubkriteria-([0-9]+)$ pages/edit/editsubkriteria.php?id=$1 [L]
RewriteRule ^deletesubkriteria-([0-9]+)$ data/simpansubkriteria.php?id=$1&act=delete [L]
RewriteRule ^simpansubkriteria$ data/simpansubkriteria.php?act=simpan [L]
RewriteRule ^editsubkriteria$ data/simpansubkriteria.php?act=edit [L]
RewriteRule ^nilai$ pages/nilai.php [L]
RewriteRule ^addnilai$ pages/add/addnilai.php [L]
RewriteRule ^editnilai-([0-9]+)$ pages/edit/editnilai.php?id=$1 [L]
RewriteRule ^deletenilai-([0-9]+)$ data/simpannilai.php?id=$1&act=delete [L]
RewriteRule ^simpannilai$ data/simpannilai.php?act=simpan [L]
RewriteRule ^editnilai$ data/simpannilai.php?act=edit [L]
RewriteRule ^parameter$ pages/parameter.php [L]
RewriteRule ^addparameter$ pages/add/addparameter.php [L]
RewriteRule ^editparameter-([0-9]+)$ pages/edit/editparameter.php?id=$1 [L]
RewriteRule ^deleteparameter-([0-9]+)$ data/simpanparameter.php?id=$1&act=delete [L]
RewriteRule ^simpanparameter$ data/simpanparameter.php?act=simpan [L]
RewriteRule ^editparameter$ data/simpanparameter.php?act=edit [L]
RewriteRule ^bobot$ pages/bobot.php [L]
RewriteRule ^addbobot$ pages/add/addbobot.php [L]
RewriteRule ^editbobot-([0-9]+)$ pages/edit/editbobot.php?id=$1 [L]
RewriteRule ^deletebobot-([0-9]+)$ data/simpanbobot.php?id=$1&act=delete [L]
RewriteRule ^simpanbobot$ data/simpanbobot.php?act=simpan [L]
RewriteRule ^editbobot$ data/simpanbobot.php?act=edit [L]
RewriteRule ^penilaian$ pages/penilaian.php [L]
RewriteRule ^proses$ pages/proses.php [L]
RewriteRule ^proseshitung$ data/proseshitung.php [L]
RewriteRule ^hasil$ pages/hasil.php [L]
RewriteRule ^test$ pages/test.php [L]
RewriteRule ^profile$ pages/profile.php [L]
RewriteRule ^simpanprofile$ data/simpanregister.php?act=edit [L]
RewriteRule ^akses$ pages/akses.php [L]
RewriteRule ^simpanakses$ data/simpanakses.php [L]
RewriteRule ^lockscreen$ pages/lockscreen.php [L]
RewriteRule ^cekpass$ data/cekpass.php [L]
RewriteRule ^logout$ logout.php [L]

Options All -Indexes
